.nav {
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  list-style: none;
}

.navigation-container {
  border-bottom: 1px solid #000000;
  background: #2d2d2d;
}

.body {
  margin: 0;
  font-family: 'arial', 'san-serif';
  font-size: 14px;
}

.nav > li > a {
  display: block
  color: #bbbbbb;
  text-decoration: none;
}

.nav > li > a:hover {
  color: #ffffff
}

.nav > li > .active,
.nav > li > a:hover {
  color: #ffffff;
  text-decoration: none;
}

.nav > li > a {
  display: block;
  padding: 10px;
  color: #bbbbbb;
  text-decoration: none;
}

/* # Styling The Search Container. */

.search-container {
  border-bottom: 1px solid #e5e5e5;
  background: #f4f4f4;
}

.search-container {
  padding-left: 10px;
  border-bottom: 1px solid #e5e5e5;
  background: #f4f4f4;
}

.search-container {
  padding: 20px 10px;
  border-bottom: 1px solid #e5e5e5;
  background: #f4f4f4;
}

/*Styling the Main Container*/

.main-container {
  width: 512px;
  margin-left: 135px;
}

/*Styling the search results list*/

.search-result-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 30px;
}

.search-result {
  margin-bottom: 30px;
}


.search-result-title {
  margin: 0;
}

.search-result-source {
  display: block;
  font-style: normal;
  color: #009933;
}


}
